/.github
/.vscode
/.yarn
/console.js
/coverage
/jest.config.cjs
/node_modules
/parse.js
/playground
/run.js
/src
/temp
/test
/various
.editorconfig
.gitattributes
.gitignore
test.is
tsconfig.json
tsdoc-metadata.json
yarn-debug.log
yarn-error.log
